<div class="container" style="margin-top:30px">
    <div class="row">

        Search : <input class="form-control" 
        style="margin-bottom:30px" name="title" [(ngModel)]="title" #i>
        <button (click)="changeTest()">changeTest</button>
        <ng-container *ngFor="let c of categories | filter:title">
            <div class="col-md-4">
        <!-- <div *ngIf="title.toLowerCase() == c.title.toLowerCase() || title == ''" class="col-md-4" style="margin-bottom: 20px;"> -->
            <app-category [t]="test" [data]="c" (d)="DeleteCategory($event)"></app-category>
            </div>
        </ng-container>
   
    </div>
    <div class="row">
        <app-test #child></app-test>
        {{child.test}}
    </div>
</div>