<div class="col-md-4" style="margin-bottom: 20px;">
    <img [src]="data.image" [alt]="data.name" class="img-fluid h-50 w-75">
    <h3 [ngClass]="data.nb_likes >= 10 ? 'cligonte' : ''">{{data.name}}</h3>
    <h3>{{data.price}}</h3>
    <h3>{{data.nb_likes}}</h3>
    <h3>{{data.quantity}}</h3>
    <div class="row">
        <button type="button" class="btn btn-outline-primary w-50 me-1"(click)="increment()" >  Like </button>
      <div class="w-50">
        <button *ngIf="data.quantity == 0; else elseBlock" type="button" class="btn btn-outline-danger w-100" disabled> Non disponible </button>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-outline-success w-100" (click)="buy()"> Buy</button>
        </ng-template>
      </div>
    </div>
    <div class="w-75 mt-2">
     <button type="button" class="btn btn-outline-success w-100" (click)="add()"> Add </button>
    </div>
</div>
